.card {
    
    position: relative;
    overflow: hidden;
  }
  
  .card-details {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover .card-details {
    transform: scale(0.95); 
  }
  
  .card:hover::before {
    content: 'View Product';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(55, 48, 124, 0.8);
    color: white; 
    padding: 8px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 94%;
  }
  
  .card:hover::before {
    opacity: 1;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .card:hover .bag {
    animation: pulse 1s infinite; 
    
  }